.nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-main, #000);
}

.nav__logo {
  font-size: var(--fs-nav-heading);
  font-weight: 800;
}

.links {
  background-color: var(--clr-mobile-nav);
  position: fixed;
  inset: 4rem 0 0 0;
  padding: 1rem;
  translate: -400px;
  opacity: 0;
  transition: 
    translate 250ms ease-in-out,
    opacity 250ms ease-in-out 125ms;
}

.openNav {
  translate: 0;
  opacity: 1;
}