.nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-main, #121212);
  margin-inline: auto;
  max-width: 65em;
  z-index: 9999999;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-nav-heading);
  font-weight: 800;
  text-decoration: none;
  color: var(--txt-white)
}

.links {
  background-color: var(--clr-mobile-nav);
  position: fixed;
  inset: 4.9rem 0 0 0;
  padding-inline: 1rem;
  opacity: 0;
  pointer-events: none;
  z-index: 99;
  /* translate: -400px;
  transition: 
    translate 250ms ease-in-out,
    opacity 250ms ease-in-out 125ms; */
}

.openNav {
  /* translate: 0; */
  opacity: 1;
  pointer-events: all;
}

.nav__logo__img {
  width: 3rem;
}

.nav__logo__h3 {
  font-size: var(--fs-nav-heading);
}

/* navlinks */
.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 0.75rem;
  text-decoration: none;
}

.link p {
  color: var(--txt-400);
  font-weight: 700;
}

.with_sublinks {
  pointer-events: none;
}

.link__arrow {
  margin-inline: auto 0.25rem;
}

.sublink {
  padding-left: 1.5rem;
}

@media (min-width: 65rem) {
  .container {
    width: calc(100% - 2rem);
    box-shadow: 50vw 0 0 0 var(--clr-main), -50vw 0 0 0 var(--clr-main);
  }

  .nav, .links {
    position: unset;
    background: var(--clr-main, #121212);
    padding-left: 0;
    padding-right: 0;
  }
  
  .links {
    opacity: 1;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 20rem;
    justify-content: space-between;
  }

  .link {
    pointer-events: all;
  }

  .link p {
    font-size: 1rem;
    font-weight: 400;
  }

  .link__arrow, .sublink {
    display: none;
  }

  .nav img:not(.nav__logo__img) {
    display: none;
  }

  .container {
    display: flex;
    position: fixed;
    inset: 0 0 auto 0;
    max-width: 65rem;
    margin: auto;
    z-index: 99999999;
  }
}