@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*:not(ul, ol, li),
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-main);
  color: #fff;
  min-height: 100vh;
  position: relative;
  padding-bottom: 32rem;
}

img {
  max-width: 100%;
}

:root {
  --clr-main: #121212;
  --clr-accent: #673ab7;
  --clr-accent-300: #9575cd;
  --clr-mobile-nav: hsla(0, 0%, 8%, 0.98);

  --clr-btn-neutral-inactive: #bbb;
  --clr-btn-neutral-active: #fff;
  --clr-btn-red: #f44336;

  --bg-item: hsla(0, 0%, 100%, 0.04);

  --txt-white: #fff;
  --txt-400: #ddd;
  --txt-btn-neutral-inactive: #bbb;
  --txt-btn-neutral-active: #111;
  --clr-btn-red-inactive: #f44336;
  --clr-btn-red-active: #fff;

  --fs-nav-heading: 1.5rem;

  --fs-hero: 2rem;
  --fs-subhero: 0.65rem;

  --fs-heading: 1.5rem;
  --fs-text: 1rem;

  --fs-card-heading: 0.75rem;
  --fs-card: 0.75rem;
}

.App {
  width: calc(100% - 2em);
  margin-inline: auto;
  max-width: 65em;
  z-index: 999;
}

.container {
  padding-top: 5rem;
  position: relative;
}

.container > * {
  z-index: 0;
}

@media (min-width: 65em) {
  body {
    padding-bottom: 18rem;
  }
}