.container {
  overflow: hidden;
  width: 100vw;
  margin-inline: -1rem;
  margin-block: 2rem;
}

.card {
  background-color: var(--bg-item);
  border-radius: 8px;
  width: 95% !important;
  margin-inline: 2.5%;
  overflow: hidden;
}

.card > img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.card__text {
  padding: 0.5rem;
  font-size: 0.875rem;
}

.card__text p {
  color: var(--txt-400);
  font-weight: 400;
}

.card__text__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card__text__heading h3 {
  max-width: 19ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__text__heading p {
  color: var(--txt-white);
  font-size: var(--fs-card);
  font-weight: 400;
}

.tooltip {
  display: none;
}

.card__text__contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.75rem;
}

.card__text__contact img {
  width: 2rem;
}

@media (min-width: 65em) {
  .container {
    width: 100%;
    margin-left: 0;
  }

  .tooltip {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: calc(100% + 1.1em);
    left: -0.25rem;

    background-color: #121212;
    padding: 0.25em 0.5rem;
    font-size: 0.75rem;
    border-radius: 8px;
    transition: opacity 125ms ease-in-out;
    overflow: hidden;
  }

  .card__text__heading:hover .tooltip {
    opacity: 1;
    max-width: 103.5%;
  }
}