.container {
  overflow: hidden;
  width: 100vw;
  margin-inline: -1rem;
  margin-block: 2rem;
  --margin-inline: 2.5%;
  --width: 95%;
}

@media (min-width: 65em) {
  .container {
    width: 100%;
    margin-left: 0;
  }
}